header {
  width: 100%;
  background: #00008c;
  

  // example

  .nav {

    display: flex;
    justify-content: space-evenly;
    align-items:center;

    & .nav__list {
      display: flex;
      align-items:center;
      gap: 32px;
      font-family: "Poppins";

      & .nav__list--item a{
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
      }

    }
    & .nav__list__part2 {
        display: flex;
        align-items:center;
        gap: 40px;

        & .nav__list--item__choose{
          background:#FAFAFF52;
          padding: 10px;
          border-radius: 38px;
          p{
            color:#FFF;
            font-family: "Poppins";
          }
        }

        & .nav__list--item__menu{
          border: 1px solid #FFF;
          padding: 10px;
          border-radius: 38px;

          p{
            color:#FFF;
            font-family: "Inter";
          }
        }


        & .nav__list--item a{
          color: #FFF;
          font-size: 16px;
          font-weight: 400;
          font-family: "Inter";
        }
  
      }

    & .nav__list--item__menu{
        display: flex;
        gap: 20px;
        align-items:center;
    }

    & .nav__list--item__choose{
        display: flex;
        gap: 20px;
        align-items:center;
    }

  }
}
